<launch>

 
 <node name="Teensy_Bridge" pkg="rosserial_python" type="serial_node.py" args="/dev/teensy" output="screen">
   <param name="baud" value="115200"/>
 </node>

 <node name="Arduino_Bridge" pkg="rosserial_python" type="serial_node.py" args="/dev/arduino_mega" output="screen">
  <param name="baud" value="115200"/>
 </node>


 <node pkg="hokuyo_node" type="hokuyo_node" name="hokuyo"  output="screen" >
   <param name="port" type="string" value="/dev/hokuyo" />
   <param name="calibrate_time" type="bool"  value="true" />
   <param name="intensity" type="bool" value="false" />
   <param name="skip" type="int" value="0" />
   <param name="frame_id" type="string" value="hokuyo_frame" />
   <param name="cluster" type="int" value="0" />
   <param name="min_angle" type="double" value="-1.5708" />
   <param name="max_angle" type="double" value="1.5708" />
   <param name="allow_unsafe_settings" type="bool" value="false" />
 </node>


<node pkg="absolute_location" type="absolute_location" name="absolute_location" >
<!-- paste this above to launch debug : launch-prefix="lxterminal -e"  -->
</node> 

<node pkg="motion_planning" type="motion_planning_node" name="motion_planning" >
</node>

<!--node pkg="joy" type="joy_node" name="JoyStick" -->
<!--  param name="dev" type="string" value="/dev/input/js0" /-->
<!--/node--> 

<!--node pkg="joy_controller" type="joy_controller_node" name="joyControler" -->
<!--/node-->  -->

<!-- Map pour rviz -->
<node pkg="map_server" type="map_server" name="map_server" args="$(find map_server)/map_server_conf.yaml">
  <param name="frame_id" type="string" value="world" />	
</node>


</launch>
